@section Scripts{
    @*@Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")*@
}

<html>
<head>

</head>
<body>


    <!--HOME-->
    <div id="section-home" class="section">
        <div class="section-header container">
            <span>Home</span>
        </div>
        <div id="home-icons" class="container">
            <h1 class="icon-reminder" style="font-size:4em; text-align:center;">Choose an Icon to learn more</h1>

            <ul>
                <li><button class="icon-button"><i class="fa fa-gamepad" aria-hidden="true"></i></button></li>
                <li><button class="icon-button"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></button></li>
                <li><button class="icon-button"><i class="fa fa-code" aria-hidden="true"></i></button></li>
                <li><button class="icon-button"><i class="fa fa-pencil" aria-hidden="true"></i></button></li>
            </ul>
            <div class="icon-desc-test">

                <h1 style="text-align:center;">INFO COMING SOON</h1>
            </div>
        </div>        
    </div>
    <script>
        var isViewing = false;

        if (isViewing) {
            $(".icon-desc-test").show("fast");
        } else {
            $(".icon-desc-test").hide("fast");
        }

        $(".icon-button").click(function () {
            $(".icon-reminder").hide("slow");
            if ($(this).hasClass("active-home-icon-button")) {
                $(this).removeClass("active-home-icon-button");
                isViewing = false;
            } else {
                isViewing = true;
                $(".icon-button").removeClass("active-home-icon-button");
                $(this).addClass("active-home-icon-button");
            }

            if (isViewing) {
                $(".icon-desc-test").show("fast");
            } else {
                $(".icon-desc-test").hide("fast");

            }


        });

    </script>


    <!--ABOUT-->
    <div id="section-about" class="section">
        <div class="section-header container">
            <span>About</span>
        </div>
        <div class="about-content-container container">
            <div class="about-content">
                <h1>The Studio</h1>
                <p>
                    LITH Studios was founded with the core idea of being different; A studio that was cut-off entirely from the monopoly
                    of the corporate world; a studio that actually cared about their clients; A studio that would change the way technology evolves.<br /> <br />
                    What began as energy drink fueled game developers trying to justify making games for a living, has now evolved into coffee fueled software developers
                    trying to justify making apps for a living. Nothing has changed from our beginning really, just our knowledge and passion.
                </p>
                <h1>The Devs</h1>
                <p>
                    Savik and Eugene have been a team ever since they crossed paths. With development experience that ranges from fortune 500 companies to the depths of student projects,
                    we've seen it all. We were both Interdisiplinary Game Deveolopers to start with, but transitioned into web apps and software when we realized that's where our
                    passion was. <br /><br />
                    We're both young, full of life, and ready to sit behind the keyboard 24-7 until your project hits perfection.
                </p>
            </div>
            <div class="about-content" id="img-anim-cont">
                <img class=".about-content-img-anim" src="~/Content/Images/TeamMembers/sav.jpg" alt="Savik" longdesc="Savik, one of the founders!" />
                <img class=".about-content-img-anim" src="~/Content/Images/TeamMembers/eug.jpg" alt="Eugene" longdesc="Eugene, one of the founders!" />
            </div>
        </div>
    </div>
    <script>
        if (!isMobile) {
            $(window).on("scroll resize", function () {
                //About bubbles
                var fadeAmount = math.min(1,
                    (($(document).scrollTop() - $("#img-anim-cont").offset().top()) / 5)
                );

                $("#img-anim-cont").css("opacity", fadeAmount);
            });
        }
    </script>

    <!--END ABOUT-->
    <!--CONTACT-->
    <div id="section-contact" class="section">
        <div class="section-header container">
            <span>Contact</span>
        </div>
        <form action="https://formspree.io/savik@lithstudios.com" method="POST">
            <div class="container contact-container">

                <fieldset class="contact-container-div">
                    <div class="mat-div">
                        <label for="name" class="mat-label"><span style="color:red">*</span>Name</label>
                        <input required type="text" class="mat-input" id="name" name="name">
                    </div>

                    <div class="mat-div">
                        <label for="bus-name" class="mat-label">Business Name</label>
                        <input type="text" class="mat-input" id="bus-name" name="business-name">
                    </div>

                    <div class="mat-div">
                        <label required for="email" class="mat-label"><span style="color:red">*</span>Email</label>
                        <input required type="email" class="mat-input" id="email" name="e-mail">
                    </div>

                    <div class="mat-div">
                        <label for="phone" class="mat-label">Phone</label>
                        <input type="tel" class="mat-input" id="phone" name="phone-num">
                    </div>
                    <br />
                    <p style="font-weight:bold;"><span style="color:red">*</span>What's your budget looking like?</p>
                    <div class="mat-div">
                        <select required name="Budget" id="budget" class="mat-input budget-select">
                            <option value="less-than-500">&lt; $500</option>
                            <option value="500-1000">$500 - $1000</option>
                            <option value="1000-1500">$1000 - $1500</option>
                            <option value="1500-2000">$1500 - $2000</option>
                            <option value="greater-than-2000">&gt;$2000</option>
                            <option value="n-a">N/A</option>
                        </select>
                    </div>

                </fieldset>
                <fieldset class="contact-container-div">
                    <div class="mat-div">
                        <label for="message" class="mat-label"><span style="color:red">*</span>Your Message</label>
                        <textarea type="text" class="mat-input" id="message" cols="30" rows="9" name="message"></textarea>
                    </div>

                    <input id="submitButton" type="submit" value="Send">
                </fieldset>
            </div>


        </form>
    </div>
    <script>
        $(".mat-input").focus(function () {
            $(this).parent().addClass("is-active is-completed");
        });

        $(".mat-input").focusout(function () {
            if ($(this).val() === "")
                $(this).parent().removeClass("is-completed");
            $(this).parent().removeClass("is-active");
        })
    </script>
    <!--END CONTACT-->

    <script>




    </script>
</body>

</html>
