@section Scripts{
    @*@Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")*@
}

<html>
<head>

</head>
<body>

    <!--HOME-->
    <div id="section-home" class="parallax"></div>

    <div class="parallax-text">
        <h1>LITH Studios</h1>
        <p>Giving You The Upgrade Your Business Deserves. </p>
    </div>

    <div class="section-header container">
        <span>What We Do</span>
    </div>            
   
    <p class="container">We Develop!</p>

    <!--END HOME-->
    <!--ABOUT-->
    <div id="section-about" class="section">
        <div class="section-header container">
            <span>About Us</span>
        </div>
        <div id="about-content-studio" class="container about-container">
            <span>
                LITH Studios- also know as 'Left In The Head' Studios- is a group of developers and creatives that work towards a common goal of giving smaller businesses an edge by giving them the web power of the biggest companies out there.
                We aim to deliver the highest quality content to those who can't afford the hefty pricetag.
            </span>
            <img id="about-studio-logo" src="~/Content/Images/LITH-logo.png" />

        </div>
        <div id="about-content-team" class="container about-container">
            <div id="about-content-team-container">

                <div class="about-memeber-container">
                    <img class="about-member-image" src="~/Content/Images/TeamMembers/img-member-savik.png" />
                    <h3>Savik Fraguela</h3>
                    <span class="member-title">Co-Founder, Tech Director</span>
                    <span class="about-member-description">
                        <i id="net-sav" class="fa about-member-social">&#xf0ac;</i>
                        <i id="linked-sav" class="fa about-member-social">&#xf08c;</i>
                        <i id="insta-sav" class="fa about-member-social">&#xf16d;</i>
                        <br />
                        Savik is the logic side of LITH. With experience developing in professional environments and on multiple side projects, Savik will bring
                        the 'Midas Touch of Development' to your project, whatever it may be.
                    </span>
                    @*<span class="about-member-expand">+</span>*@
                </div>
                <script>
                    $("#net-sav").click(function () {
                        window.open("http://www.designsavik.weebly.com", "_blank");
                    });
                    $("#insta-sav").click(function () {
                        window.open("https://www.instagram.com/savik1.0", "_blank");
                    });
                    $("#linked-sav").click(function () {
                        window.open("https://www.linkedin.com/in/savik-fraguela-510a1a97", "_blank");
                    });
                </script>
                <!--End Member: Savik-->

                <div class="about-memeber-container">
                    <img class="about-member-image" src="~/Content/Images/TeamMembers/img-member-eugene.png" />
                    <h3>Eugene Martens</h3>
                    <span class="member-title">Co-Founder, Creative Director</span>
                    <span class="about-member-description">
                        <i id="net-eug" class="fa about-member-social">&#xf0ac;</i>
                        <i id="linked-eug" class="fa about-member-social">&#xf08c;</i>
                        <br />
                        Eugene is the coffee fueled machine of the group. All that caffeine leads to some out-of-the-box design ideas.
                    </span>
                    @*<span class="about-member-expand">+</span>*@
                </div>
                <script>
                    $("#net-eug").click(function () {
                        window.open("http://www.eugenemartens.com", "_blank");
                    });
                    $("#linked-eug").click(function () {
                        window.open("https://www.linkedin.com/in/eugene-martens-7b9603a0", "_blank");
                    });
                </script>
                <!--End Member: Eugene-->
                @*<button class="lith-button about-memeber-container">
                        <img class="about-member-image" src="~/Content/Images/about-profile-blank.png" />
                        <h3>You?</h3>
                        <span class="member-title">Team Member!</span>
                        <span class="about-member-description">
                            Hard working? Have a passion for Development? Use the contact form and send us a message with your portfolio/ website and we'll be in touch.
                            <span id="contact-us-about-link" class="about-member-social">Contact Us</span>
                        </span>
                        <span class="about-member-expand">+</span>
                    </button>
                    <script>
                        $("#contact-us-about-link").click(function () {
                            $('html,body').animate({
                                scrollTop: $("#section-contact").offset().top
                            },
                                'slow');
                        });
                    </script>*@
                <!--End Member-->
            </div>
        </div>
        <script>
            //Hide all descriptions
            //$("span.about-member-description").hide();
            //var isViewing = false;

            //$("button.about-memeber-container").hover(function () {
            //    if (!$(this).hasClass("active-about")) {

            //        $(this).find("img.about-member-image").css("border", "0.2em solid var(--lith-orange)");
            //    }
            //}, function () {
            //    $(this).find("img.about-member-image").css("border", "0.2em solid #222");

            //});

            //social icon hovering
            $(".about-member-social").hover(function () {
                $(this).css("color", "var(--lith-orange");
                $(this).css("cursor", "pointer");
            }, function () {
                $(this).css("color", "black");
            });

            //when descriptions are triggered, they show
            //$("button.about-memeber-container").click(function () {
            //    //open the current tab
            //    if (!isViewing) {
            //        $(this).find("span.about-member-description").show("slow");
            //        $(this).addClass("active-about");
            //        $(this).find("span.about-member-expand").css("display", "none");
            //        isViewing = true;
            //    } else {
            //        if ($(this).hasClass("active-about")) {
            //            //currently active, will close
            //            $(this).find("span.about-member-description").hide("slow").fadeOut(10);
            //            $(this).removeClass("active-about");
            //            $(this).find("span.about-member-expand").css("display", "initial");
            //            isViewing = false;
            //        } else {
            //            //close all and open this one
            //            $("span.about-member-description").hide("slow");
            //            $("button.about-memeber-container").removeClass("active-about");
            //            $("span.about-member-expand").css("display", "initial");


            //            $(this).find("span.about-member-description").show("slow");
            //            $(this).addClass("active-about");
            //            $(this).find("span.about-member-expand").css("display", "none");
            //            isViewing = true;
            //        }

            //    }
            //});

        </script>

    </div>

    <!--END ABOUT-->
    <!--CONTACT-->
    <div id="section-contact" class="section">
        <div class="section-header container">
            <span>Contact</span>
        </div>
        <form action="https://formspree.io/savik@lithstudios.com" method="POST">
            <div class="container contact-container">

                <fieldset class="contact-container-div">
                    <div class="mat-div">
                        <label for="name" class="mat-label"><span style="color:red">*</span>Name</label>
                        <input required type="text" class="mat-input" id="name" name="name">
                    </div>

                    <div class="mat-div">
                        <label for="bus-name" class="mat-label">Business Name</label>
                        <input type="text" class="mat-input" id="bus-name" name="business-name">
                    </div>

                    <div class="mat-div">
                        <label required for="email" class="mat-label"><span style="color:red">*</span>Email</label>
                        <input required type="email" class="mat-input" id="email" name="e-mail">
                    </div>

                    <div class="mat-div">
                        <label for="phone" class="mat-label">Phone</label>
                        <input type="tel" class="mat-input" id="phone" name="phone-num">
                    </div>

                    <div class="mat-div">
                        <label for="budget" class="mat-label"><span style="color:red">*</span>What's your budget looking like?</label>
                        <select required name="Budget" id="budget" class="mat-input">
                            <option value="less-than-500">&lt; $500</option>
                            <option value="500-1000">$500 - $1000</option>
                            <option value="1000-1500">$1000 - $1500</option>
                            <option value="1500-2000">$1500 - $2000</option>
                            <option value="greater-than-2000">&gt;$2000</option>
                            <option value="n-a">N/A</option>
                        </select>
                    </div>

                </fieldset>
                <fieldset class="contact-container-div">
                    <div class="mat-div">
                        <label for="message" class="mat-label"><span style="color:red">*</span>Your Message</label>
                        <textarea type="text" class="mat-input" id="message" cols="30" rows="9" name="message"></textarea>
                    </div>

                    <input type="submit" value="Submit">
                </fieldset>
            </div>


        </form>
    </div>
    <script>
        $(".mat-input").focus(function () {
            $(this).parent().addClass("is-active is-completed");
        });

        $(".mat-input").focusout(function () {
            if ($(this).val() === "")
                $(this).parent().removeClass("is-completed");
            $(this).parent().removeClass("is-active");
        })
    </script>
    <!--END CONTACT-->

</body>
</html>
